In [2]:
import pandas as pd

In [5]:
test = pd.read_csv("test.csv")
train = pd.read_csv("train.csv")

In [10]:
all_pass = pd.concat([test, train])

In [18]:
all_pass.dropna(subset=["Age", "Survived"], inplace=True)

In [19]:
len(all_pass)

714

In [20]:
all_pass.to_csv("titanic_data.csv")

In [21]:
all_pass

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450
6,54.0,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,7,1,male,0,0.0,17463
7,2.0,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,8,3,male,3,0.0,349909
8,27.0,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,female,0,1.0,347742
9,14.0,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,female,1,1.0,237736
10,4.0,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,3,female,1,1.0,PP 9549
11,58.0,C103,S,26.5500,"Bonnell, Miss. Elizabeth",0,12,1,female,0,1.0,113783
12,20.0,NaN,S,8.0500,"Saundercock, Mr. William Henry",0,13,3,male,0,0.0,A/5. 2151
13,39.0,NaN,S,31.2750,"Andersson, Mr. Anders Johan",5,14,3,male,1,0.0,347082
14,14.0,NaN,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,female,0,0.0,350406
15,55.0,NaN,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,female,0,1.0,248706
16,2.0,NaN,Q,29.1250,"Rice, Master. Eugene",1,17,3,male,4,0.0,382652
18,31.0,NaN,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,female,1,0.0,345763
20,35.0,NaN,S,26.0000,"Fynney, Mr. Joseph J",0,21,2,male,0,0.0,239865
21,34.0,D56,S,13.0000,"Beesley, Mr. Lawrence",0,22,2,male,0,1.0,248698
22,15.0,NaN,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,female,0,1.0,330923
23,28.0,A6,S,35.5000,"Sloper, Mr. William Thompson",0,24,1,male,0,1.0,113788
24,8.0,NaN,S,21.0750,"Palsson, Miss. Torborg Danira",1,25,3,female,3,0.0,349909
25,38.0,NaN,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,female,1,1.0,347077
27,19.0,C23 C25 C27,S,263.0000,"Fortune, Mr. Charles Alexander",2,28,1,male,3,0.0,19950
30,40.0,NaN,C,27.7208,"Uruchurtu, Don. Manuel E",0,31,1,male,0,0.0,PC 17601
33,66.0,NaN,S,10.5000,"Wheadon, Mr. Edward H",0,34,2,male,0,0.0,C.A. 24579
34,28.0,NaN,C,82.1708,"Meyer, Mr. Edgar Joseph",0,35,1,male,1,0.0,PC 17604
35,42.0,NaN,S,52.0000,"Holverson, Mr. Alexander Oskar",0,36,1,male,1,0.0,113789
37,21.0,NaN,S,8.0500,"Cann, Mr. Ernest Charles",0,38,3,male,0,0.0,A./5. 2152
38,18.0,NaN,S,18.0000,"Vander Planke, Miss. Augusta Maria",0,39,3,female,2,0.0,345764
...,...,...,...,...,...,...,...,...,...,...,...,...
856,45.0,NaN,S,164.8667,"Wick, Mrs. George Dennick (Mary Hitchcock)",1,857,1,female,1,1.0,36928
857,51.0,E17,S,26.5500,"Daly, Mr. Peter Denis",0,858,1,male,0,1.0,113055
858,24.0,NaN,C,19.2583,"Baclini, Mrs. Solomon (Latifa Qurban)",3,859,3,female,0,1.0,2666
860,41.0,NaN,S,14.1083,"Hansen, Mr. Claus Peter",0,861,3,male,2,0.0,350026
861,21.0,NaN,S,11.5000,"Giles, Mr. Frederick Edward",0,862,2,male,1,0.0,28134
862,48.0,D17,S,25.9292,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,863,1,female,0,1.0,17466
864,24.0,NaN,S,13.0000,"Gill, Mr. John William",0,865,2,male,0,0.0,233866
865,42.0,NaN,S,13.0000,"Bystrom, Mrs. (Karolina)",0,866,2,female,0,1.0,236852
866,27.0,NaN,C,13.8583,"Duran y More, Miss. Asuncion",0,867,2,female,1,1.0,SC/PARIS 2149
867,31.0,A24,S,50.4958,"Roebling, Mr. Washington Augustus II",0,868,1,male,0,0.0,PC 17590
869,4.0,NaN,S,11.1333,"Johnson, Master. Harold Theodor",1,870,3,male,1,1.0,347742
870,26.0,NaN,S,7.8958,"Balkic, Mr. Cerin",0,871,3,male,0,0.0,349248
871,47.0,D35,S,52.5542,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,872,1,female,1,1.0,11751
872,33.0,B51 B53 B55,S,5.0000,"Carlsson, Mr. Frans Olof",0,873,1,male,0,0.0,695
873,47.0,NaN,S,9.0000,"Vander Cruyssen, Mr. Victor",0,874,3,male,0,0.0,345765
874,28.0,NaN,C,24.0000,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,875,2,female,1,1.0,P/PP 3381
875,15.0,NaN,C,7.2250,"Najib, Miss. Adele Kiamie ""Jane""",0,876,3,female,0,1.0,2667
876,20.0,NaN,S,9.8458,"Gustafsson, Mr. Alfred Ossian",0,877,3,male,0,0.0,7534
877,19.0,NaN,S,7.8958,"Petroff, Mr. Nedelio",0,878,3,male,0,0.0,349212
879,56.0,C50,C,83.1583,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,880,1,female,0,1.0,11767
880,25.0,NaN,S,26.0000,"Shelley, Mrs. William (Imanita Parrish Hall)",1,881,2,female,0,1.0,230433
881,33.0,NaN,S,7.8958,"Markun, Mr. Johann",0,882,3,male,0,0.0,349257
882,22.0,NaN,S,10.5167,"Dahlberg, Miss. Gerda Ulrika",0,883,3,female,0,0.0,7552
883,28.0,NaN,S,10.5000,"Banfield, Mr. Frederick James",0,884,2,male,0,0.0,C.A./SOTON 34068
884,25.0,NaN,S,7.0500,"Sutehall, Mr. Henry Jr",0,885,3,male,0,0.0,SOTON/OQ 392076
885,39.0,NaN,Q,29.1250,"Rice, Mrs. William (Margaret Norton)",5,886,3,female,0,0.0,382652
886,27.0,NaN,S,13.0000,"Montvila, Rev. Juozas",0,887,2,male,0,0.0,211536
887,19.0,B42,S,30.0000,"Graham, Miss. Margaret Edith",0,888,1,female,0,1.0,112053
889,26.0,C148,C,30.0000,"Behr, Mr. Karl Howell",0,890,1,male,0,1.0,111369
890,32.0,NaN,Q,7.7500,"Dooley, Mr. Patrick",0,891,3,male,0,0.0,370376